.a{
    margin-top: 10px;
}
.nav-tabs{
    margin-top: 8px;
}
.head-img{
    margin-top: 25px;
}
.head-img>a>img{
    width: 50px;
}
.author-name{
    display: inline-block;
}
.time{
    float: right;
}

.body{
    margin-left: 100px;
    margin-top: -30px;
    margin-right: 150px;

}

.edit{
    margin-top: -15px;
    float: right;
}
.banned_button{
    margin-top: 20px;
}